<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Us</h1>
    <p>This page provides information about our application.</p>

    <h2>Наша миссия</h2>
    <ul>
        <li>Разрабатывать качественные приложения</li>
        <li>Помогать пользователям</li>
        <li>Создавать удобный интерфейс</li>
    </ul>

    <h2>Наша команда</h2>
    <table>
        <tr>
            <th>Имя</th>
            <th>Должность</th>
        </tr>
        <tr>
            <td>Иван</td>
            <td>Backend-разработчик</td>
        </tr>
        <tr>
            <td>Мария</td>
            <td>Frontend-разработчик</td>
        </tr>
    </table>

    <h2>Наш офис</h2>
    <img src="../static/images/office.jpg" alt="Офис" />
</body>
</html>